<div *ngIf="bibliothecaire" class="container">
  <h2>Liste des bibliothecaires</h2>
  <a href="/Bibliothecaires/Create" class="btn btn-primary"
    >Ajouter un bibliothecaire</a
  >
  <ul class="list-group border border-black">
    <li
      *ngFor="let bibliothecaire of bibliothecaire"
      class="list-group-item d-flex justify-content-between align-items-center border border-black"
    >
      <span class="list-group-item">{{ bibliothecaire.email }}</span>
      <div class="btn-group list-group-item">
        <a
          href="/Bibliothecaires/Edit/{{ bibliothecaire.id }}"
          class="btn btn-primary"
          >Modifier</a
        >
        <a
          href="/Bibliothecaires/Delete/{{ bibliothecaire.id }}"
          class="btn btn-danger"
          >Supprimer</a
        >
        <a
          href="/Bibliothecaires/Details/{{ bibliothecaire.id }}"
          class="btn btn-info"
          >Details</a
        >
      </div>
    </li>
  </ul>
</div>
