<div class="container">
  <h1>Informations du Tag</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Détails de Tag</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>ID:</strong> {{ motclefs.id }}</li>
        <li class="list-group-item">
          <strong>Nom:</strong> {{ motclefs.tag }}
        </li>
      </ul>
    </div>
  </div>

  <div>
    <button class="btn btn-danger" (click)="delete()">Supprimer</button>
  </div>

  <h2>Liste des livres</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>ISBN</th>
        <th>Titre</th>
        <th>Theme</th>
        <th>Tags</th>
        <th>Auteur</th>
        <th>Exemplaire</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livre of motclefs.livres">
        <td>{{ livre.id }}</td>
        <td>{{ livre.isbn }}</td>
        <td>{{ livre.titre }}</td>
        <td>{{ livre.themes }}</td>
        <td>{{ livre.tags }}</td>
        <td>{{ livre.auteurs }}</td>
        <td>{{ livre.exemplaires }}</td>
      </tr>
    </tbody>
  </table>
</div>
