h2 {
  color: rgb(6, 135, 6);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.btn-scale {
  transition: transform 0.3s;
}

.btn-scale:hover {
  transform: scale(1.1);
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
li {
  list-style-type: none;
}
