<h2 class="text-center">Liste des Livres</h2>
<div *ngIf="livres" class="container">
  <div>
    <div class="container text-center" style="margin-bottom: 10px">
      <div class="row align-items-start">
        <div class="col"></div>
        <div class="col">
          <input
            type="text"
            [(ngModel)]="nomFiltre"
            placeholder="Nom du livre"
          />
          <button (click)="filtrer()">Filtrer</button>
        </div>
        <div class="col">
          <a class="btn btn-secondary btn-scale" href="/Livres"
            >Réinitialiser</a
          >
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered border border-secondary">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Titre</th>
        <th>Auteur(s)</th>
        <th>Mot(s) Clef(s)</th>
        <th>Thème(s)</th>
        <th>Nombre d'exemplaire(s)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livre of livres">
        <td>{{ livre.isbn }}</td>
        <td>{{ livre.titre }}</td>
        <td>
          <ng-container *ngIf="livre.auteurs">
            <span *ngFor="let auteur of livre.auteurs">
              <a href="/Auteurs/Details/{{ auteur.id }}">{{ auteur.nom }}</a> |
            </span>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="livre.tags">
            <span *ngFor="let tag of livre.tags">
              <a href="/MotClefs/Details/{{ tag.id }}">{{ tag.tag }}</a> |
            </span>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="livre.themes">
            <span *ngFor="let theme of livre.themes">
              <a href="/Themes/Details/{{ theme.id }}"
                >{{ theme.nom }} ({{ theme.description }})</a
              >
              |
            </span>
          </ng-container>
        </td>
        <td>
          <ng-container
            *ngIf="livre.exemplaires && livre.exemplaires.length > 0"
          >
            {{ livre.exemplaires.length }}
          </ng-container>
          <ng-container *ngIf="!livre.exemplaires"
            >Aucun exemplaire en stock</ng-container
          >
        </td>
        <td>
          <div class="btn-group">
            <a href="/Livres/Infos/{{ livre.id }}" class="btn btn-primary"
              >Modifier</a
            >
            <button (click)="delete(livre)" class="btn btn-danger">
              Supprimer
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <app-create-livre></app-create-livre>
</div>
