<div *ngIf="motclefs" class="container">
  <h2 class="text-center">Liste des tags</h2>
  <div>
    <div class="container text-center" style="margin-bottom: 10px">
      <div class="row align-items-start">
        <div class="col">
          <a href="/MotClefs/Create" class="btn btn-primary btn-scale"
            >Ajouter un mot clef</a
          >
        </div>
        <div class="col">
          <input
            type="text"
            [(ngModel)]="nomFiltre"
            placeholder="Nom du tag"
          />
          <button (click)="filtrer()">Filtrer</button>
        </div>
        <div class="col">
          <a class="btn btn-secondary btn-scale" href="/MotClefs">Réinitialiser</a>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group border border-black">
    <li
      *ngFor="let motclefs of motclefs"
      class="list-group-item d-flex justify-content-between align-items-center border border-black"
    >
      <span class="list-group-item">{{ motclefs.id }} {{ motclefs.tag }}</span>
      <div class="btn-group list-group-item">
        <a href="/MotClefs/Edit/{{ motclefs.id }}" class="btn btn-primary"
          >Modifier</a
        >
        <a href="/MotClefs/Delete/{{ motclefs.id }}" class="btn btn-danger"
          >Supprimer</a
        >
        <a href="/MotClefs/Details/{{ motclefs.id }}" class="btn btn-info"
          >Details</a
        >
      </div>
    </li>
  </ul>
</div>
