<div class="container">
  <h1>Informations du bibliothecaire</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Détails du bibliothecaire</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>ID:</strong> {{ bibliothecaire.id }}
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> {{ bibliothecaire.email }}
        </li>
        <li class="list-group-item">
          <strong>Mot de passe:</strong> {{ bibliothecaire.motDePasse }}
        </li>
      </ul>
    </div>
  </div>

  <div>
    <button class="btn btn-danger" (click)="delete()">Supprimer</button>
  </div>
</div>
