<div class="container">
    <h1>Informations de l'exemplaire</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Détails du lecteur</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>ID:</strong> {{ exemplaire.id }}</li>
                <li class="list-group-item"><strong>Livre:</strong> {{ exemplaire.livre.titre }}</li>
                <li class="list-group-item"><strong>Numero d'inventaire:</strong> {{ exemplaire.numeroInventaire }}</li>
                <li class="list-group-item"><strong>Date de mise en service:</strong> {{ exemplaire.miseEnService }}</li>
            </ul>
        </div>
    </div>
</div>