.btn-scale {
  transition: transform 0.3s;
}

.btn-scale:hover {
  transform: scale(1.1);
}
h3 {
  color: rgb(6, 135, 6);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.form-check-label {
  display: block;
  margin-bottom: 5px;
}
.table-container {
  display: flex;
  justify-content: center;
}
