<h3>Nouveau Livre</h3>

<form class="form-group">
<input [(ngModel)]="livre.isbn" type="text" value="livre.isbn" name="iSBNInput" placeholder="ISBN"/>
<input [(ngModel)]="livre.titre" type="text" value="livre.titre" name="titreInput" placeholder="TITRE"/>

<div class="form-check">
    <label class="form-check-label">Auteur(s)</label>
    <select name="auteurs" id="auteurs" [(ngModel)]="livre.auteurs">
      <option *ngFor="let auteur of auteurs" [ngValue]="auteurs">{{ auteur.nom }} {{ auteur.prenom }}</option>
    </select>
</div>

<div class="form-check">
    <label class="form-check-label">Theme(s)</label>
    <select name="themes" id="themes" [(ngModel)]="livre.themes">
      <option *ngFor="let theme of themes" [ngValue]="themes">{{ theme.nom }}</option>
    </select>
</div>

<div class="form-check">
    <label class="form-check-label">Mot(s) clef(s)</label>
    <select name="tags" id="tags" [(ngModel)]="livre.tags">
      <option *ngFor="let tag of tags" [ngValue]="tags">{{ tag.tag }}</option>
    </select>
</div>

<button type="submit" (click)="create()" class="btn btn-primary">Enregistrer</button>
</form>