<form [(ngModel)]="lecteur" class="container">
    
    <div class="form-group">
      <label for="nomInput">Nom</label>
      <input type="text" class="form-control" id="nomInput" [(ngModel)]="lecteur.Nom" name="Nom">
    </div>
    
    <div class="form-group">
      <label for="prenomInput">Prénom</label>
      <input type="text" class="form-control" id="prenomInput" [(ngModel)]="lecteur.Prenom" name="Prenom">
    </div>
    
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="email" class="form-control" id="emailInput" [(ngModel)]="lecteur.Email" name="Email">
    </div>
    
    <div class="form-group">
      <label for="telephoneInput">Téléphone</label>
      <input type="tel" class="form-control" id="telephoneInput" [(ngModel)]="lecteur.Telephone" name="Telephone">
    </div>
    
    <div class="form-group">
      <label for="adresseInput">Adresse</label>
      <input type="text" class="form-control" id="adresseInput" [(ngModel)]="lecteur.Adresse" name="Adresse">
    </div>
    
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="cotisationCheck" [(ngModel)]="lecteur.Cotisation" name="Cotisation">
      <label class="form-check-label" for="cotisationCheck">Cotisation</label>
    </div>
    
    
    <button type="submit" (click)="create()" class="btn btn-primary">Enregistrer</button>
  </form>  